<h3>利用者一覧</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>名前</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to "修正", edit_user_path(user), class: "btn btn-primary" %>
          <%= link_to "削除", user_path(user), method: :delete, data: { confirm: '削除しますか？'}, class: "btn btn-warning" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "新規ユーザー作成", action: "new" %> <br>
</div>
