<%= render 'layouts/error', obj: @detail %>

<div class="card">
  <div class="card-header card-primary text-white text-xs-center">明細を修正してください</div>

  <%= render 'form' %>
</div>

<div>
  <%= link_to "一覧に戻る", action: "index" %> <br>
</div>
