<h1>Details#index</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>User</th>
      <th>Department</th>
      <th>Payment</th>
    </tr>
  </thead>

  <tbody>
    <% @details.each do |detail| %>
      <tr>
        <td><%= detail.date %></td>
        <td><%= detail.user %></td>
        <td><%= detail.department %></td>
        <td><%= detail.payment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
