<nav class="navbar navbar-dark bg-primary">

  <%= link_to "医療費くんβ", root_path, class: "navbar-brand" %>

  <ul class="nav navbar-nav float-xs-right">
    <li class="nav-item"><%= link_to "新規入力", new_detail_path, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "明細一覧", details_path, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "利用者一覧", users_path, class: "nav-link" %></li>
  </ul>
</nav>
<br>
